<h1>Editing exchanges</h1>

<%= error_messages_for :exchanges %>

<% form_for(@exchanges) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Symbol data url</b><br />
    <%= f.text_field :symbol_data_url %>
  </p>

  <p>
    <b>Symbol data format</b><br />
    <%= f.text_field :symbol_data_format %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :active %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @exchanges %> |
<%= link_to 'Back', exchanges_path %>
