<h1>Editing neural_strategy</h1>

<%= error_messages_for :neural_strategy %>

<% form_for(@neural_strategy) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :active %>
  </p>

  <p>
    <b>Active</b><br />
    <%= f.check_box :only_trading_hours %>
  </p>

  <p>
    <b>Max epochs</b><br />
    <%= f.text_field :max_epochs %>
  </p>

  <p>
    <b>Interval</b><br />
    <%= f.text_field :processing_time_interval %>
  </p>

  <p>
    <b>Network</b><br />
    <%= f.text_area :network %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :network_type %>
  </p>

  <p>
    <b>Time span type</b><br />
    <%= f.text_field :time_span_type %>
  </p>

  <p>
    <b>Hidden neurons</b><br />
    <%= f.text_field :hidden_neurons_data %>
  </p>

  <p>
    <b>In process</b><br />
    <%= f.check_box :in_process %>
  </p>

  <p>
    <b>Error flag</b><br />
    <%= f.check_box :error_flag %>
  </p>

	<p><label for=":quote_target_id">Quote target</label><br/>
	  <select name="quote_target_id">
	   <% @quote_targets.each do |target| %>
	       <option value="<%= target.id %>" <%= @neural_strategy.quote_target_id==target.id ? "selected" : ""%>>
	         <%= target.symbol %>
	       </option>
	   <% end %>
	   </select>
	</p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @neural_strategy %> |
<%= link_to 'Back', neural_strategies_path %>
