<h1>Editing rss_item_score</h1>

<% form_for(@rss_item_score) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :rss_item_id %><br />
    <%= f.text_field :rss_item_id %>
  </p>
  <p>
    <%= f.label :classification_strategy_id %><br />
    <%= f.text_field :classification_strategy_id %>
  </p>
  <p>
    <%= f.label :sentiment_score %><br />
    <%= f.text_field :sentiment_score %>
  </p>
  <p>
    <%= f.label :objective_subjective_score %><br />
    <%= f.text_field :objective_subjective_score %>
  </p>
  <p>
    <%= f.label :average_sentiment_score %><br />
    <%= f.text_field :average_sentiment_score %>
  </p>
  <p>
    <%= f.label :average_importance_score %><br />
    <%= f.text_field :average_importance_score %>
  </p>
  <p>
    <%= f.label :average_objective_subjective_score %><br />
    <%= f.text_field :average_objective_subjective_score %>
  </p>
  <p>
    <%= f.label :average_trusted_untrusted_score %><br />
    <%= f.text_field :average_trusted_untrusted_score %>
  </p>
  <p>
    <%= f.label :average_relevant_irrelevant_score %><br />
    <%= f.text_field :average_relevant_irrelevant_score %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @rss_item_score %> |
<%= link_to 'Back', rss_item_scores_path %>
